<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
        href= "../static/css/index.css"
        />

        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet"/>
    <title>Title</title>
    

</head>
    
<body class="content">
    <div class="cd">
        <div id="register">
            <h3>Login</h3>
        </div>
        
    <form action="/register" method="post" id="rform">
         
            <input type="email" name="email" id="text-field" placeholder="Email">
            <br/>
            <br/>
       
            <input type="password" name="pass" id="text-field" placeholder="Password">
            <br/>
            <br/>
            <input class="button" type="submit" name="submit">
    </form>
    
    </div>
</body>
</html>
