<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/path.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="split left">
     <h1 style="color:white">Create Ballot</h1>
     <div class="form-container">
         <p>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam maximus ultrices odio in sollicitudin. Nam semper lorem ipsum, et pretium velit viverra vel. In hac habitasse platea dictumst. Ut varius metus non mollis pharetra. Quisque mi urna, ultricies ac urna id, vulputate suscipit lectus. Aenean bibendum tempus urna finibus ultricies. Vivamus id felis dignissim, condimentum urna eget, consequat ligula. Morbi sollicitudin ut turpis nec posuere. Aliquam non turpis non metus malesuada luctus euismod sit amet eros. Mauris ut sagittis erat, vitae laoreet ipsum.
         </p>   
         <br><br>
         <button class="button1">Create your ballot</button><br>
         <button class="button1">Review Previous Polls</button><br>      
     </div>
</div>

<div class="split right">
 
  <h1>Cast Vote</h1>
 
  <div class="available-votes-wrapper">
      <button class="button2">US Federal Election</button><br>
      <button class="button2">UTSU Election</button><br>
      <button class="button2">Add a Swing Set to Park</button>
      <button class="button2"> <a class="styleA" href="vote.html">Should denis delete tinder</a></button>
  </div>
  
</div>

</body>
</html>