<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/path.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="split left">
  <div class="centered">
      <button class="button1">Create<br>Ballot</button>
  </div>
</div>

<div class="split right">
  <div class="centered">
      <button class="button2">Cast<br>Vote</button>
  </div>
</div>

</body>
</html>