<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/path.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<div class="split left">
  <div class="centered">
      <button class="button1">Create<br>Ballot</button>
  </div>
</div>

<div class="split right">
 
  <h1>Cast Vote</h1>
 
  <div class="available-votes-wrapper">
      <button class="button2">US Federal Election</button><br>
      <button class="button2">UTSU Election</button><br>
      <button class="button2">Add a Swing Set to Park</button>
      <button class="button2">Should denis delete tinder</button>
  </div>
</div>

</body>
</html>