<!DOCTYPE html>
<html>
<body>

<head>
    <link href="static/css/style.css" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>

<div class="content-wrapper">
    
    <div class="prompt-wrapper">
       <h1>Choose a credit card that's right for you</h1>
       <br>
       <h2>Tell us a bit about yourself.</h2>
    </div>
    
    <div class="question-answer-wrapper">
       
        <div class="question-wrapper">
            <h1>I make a mess of things.</h1>
        </div>
        
        <div class="answer-wrapper">
            <div><a class="btn btn-full" href="#"><h3>Tommy has a massive penis.</h3></a></div><br>
            <div><a class="btn btn-full" href="#"><h3>Denis has a massive penis.</h3></a></div><br>
            <div><a class="btn btn-full" href="#"><h3>Gaurav has the biggest penis.</h3></a></div><br>
            <div><a class="btn btn-full" href="#"><h3>Kuba has the most foreskin.</h3></a></div><br>
        </div>
        
    </div>
</div>


</body>
</html>