<!DOCTYPE html>
<html>
<head>
   <link href="../static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
</head>
<body>

<div class="content-wrapper">
    
    <div class="prompt-wrapper">
       <h1>Should Denis delete tinder?</h1>
       <br>
       <h2 style="text-transform: uppercase">Category: Jokes</h2>
    </div>
    
    <div class="question-answer-wrapper">
       
        <div class="question-wrapper">
            <p>
                Denis has a problem. He's addicted to tinder. Ever have that friend that won't shut the fuck about a girl? That's our friend Denis . . .  but a billion times worse. I swear to god if he matches with another Tinder balerina girl I will poke my eyes and ears before he can molest my eye's with her underwhelming whore of a profile. I've never met a man so thirsty for girls with fucked up feet in my life. What a weird fucking fetish. The only way we can end his tyrant regime on this online platform for whores is to cast a global vote. If Denis doesn't delete tinder I'm either cutting his right thumb off or castrating him. Vote now and he can keep his apendages. 
            </p>
        </div>
        
        <div class="answer-wrapper">
            <div><a class="btn btn-full" href="#"><h3>Yes.</h3></a></div><br>
            <div><a class="btn btn-full" href="#"><h3>for the love of god yes.</h3></a></div><br>
            <div><a class="btn btn-full" href="#"><h3>please ban him from ever talking to a woman ever again.</h3></a></div><br>
            <div><a class="btn btn-full" href="#"><h3>someone take away his phone.</h3></a></div><br>
            <div><a class="btn btn-full" href="#"><h3>Denis please get your priorities straight.</h3></a></div><br>
        </div>
        
    </div>
</div>

</body>
</html>